<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Recorder</title>
    <!-- 引入外部 CSS 文件 -->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>智能照明系统</h1>
    <div class="line-container">
        <button id="recordButton">开始录音</button>
        <button id="stopButton" disabled>停止录音</button>
        <audio id="audioPlayback" controls></audio>
        <textarea id="transcript" 房间信息></textarea>
    </div>
    <div class="grid-container" id="photo-grid">
        <div>
            <img id="living_room" src="{{ living_room_image_path }}" alt="photo1">
            <div class="text-overlay" style="top:-90%;left:2%;">客厅</div>
        </div>
        <div>
            <img id="bedroom" src="{{ bedroom_image_path }}" alt="photo2">
            <div class="text-overlay" style="top:-90%;left:2%;">卧室</div>
        </div>
        <div>
            <img id="bathroom" src="{{ bathroom_image_path}}" alt="photo3">
            <div class="text-overlay" style="top:-90%;left:2%;">卫生间</div>
        </div>
        <div>
            <img id="dining_room" src="{{ dining_room_image_path }}" alt="photo4">
            <div class="text-overlay" style="top:-90%;left:2%;">餐厅</div>
        </div>

    </div>

    <script src="/static/script.js"></script>
</body>
</html>
